@import 'https://cdn.tailwindcss.com';
@import 'https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap';

body {
  font-family: 'Press Start 2P', cursive;
}

.btn-hover:hover {
  transform: scale(1.1);
}

.bg-fade::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
