body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../imagens/FundoRL.png');
    background-size: cover;
    background-position: center;
    position: relative;
}
.press-start {
    font-family: 'Press Start 2P', cursive;
}
.fade-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
    z-index: 1;
}
.content {
    position: relative;
    z-index: 2;
    border: 2px solid #4B5563; /* Dark gray border */
}
.custom-input {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #B0B0B0;
    color: #B0B0B0; /* Gray font color */
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
}
.custom-input::placeholder {
    color: #B0B0B0;
}
.custom-button {
    background-color: #2563EB; /* Blue background */
    color: #FFFFFF; /* White text */
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 2px solid #1E3A8A; /* Darker blue border */
    margin-top: 2rem; /* Add margin to move the button lower */
    transition: transform 0.2s; /* Smooth transition for hover effect */
}
.custom-button:hover {
    transform: scale(1.05); /* Grow the button slightly on hover */
}
.hyperlink {
    color: #2563EB; /* Blue color for hyperlink */
    text-decoration: underline;
    cursor: pointer;
}
.sonic-ring {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 120px;
    height: 90px;
    z-index: 3; /* Ensure the ring is above the fade overlay */
}